flows.json
[{"id":"1435848a.365d1b","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"dd1d1faa.92335","type":"function","z":"1435848a.365d1b","name":"temperature","func":"global.set('t',msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":100,"wires":[["df85271f.2f9a48"]]},{"id":"59d966af.394478","type":"function","z":"1435848a.365d1b","name":"humidity","func":"global.set('h',msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":140,"wires":[["32ef53d8.ab409c"]]},{"id":"c13178a6.145328","type":"ibmiot in","z":"1435848a.365d1b","authentication":"apiKey","apiKey":"742b7f89.5cb15","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"externship","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":180,"wires":[["dd1d1faa.92335","59d966af.394478","7391751a.8a65dc","9a463f1a.35bee","a4854ebb.2206a"]]},{"id":"df85271f.2f9a48","type":"ui_chart","z":"1435848a.365d1b","name":"","group":"18d012c.35454ed","order":4,"width":10,"height":8,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1e66b3","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":100,"wires":[[]]},{"id":"32ef53d8.ab409c","type":"ui_gauge","z":"1435848a.365d1b","name":"","group":"18d012c.35454ed","order":5,"width":10,"height":8,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":140,"wires":[]},{"id":"7391751a.8a65dc","type":"function","z":"1435848a.365d1b","name":"soil moisture","func":"global.set('m',msg.payload.d.soilmoisture)\nmsg.payload=msg.payload.d.soilmoisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":220,"wires":[["98416282.985f6"]]},{"id":"98416282.985f6","type":"ui_gauge","z":"1435848a.365d1b","name":"","group":"18d012c.35454ed","order":6,"width":10,"height":8,"gtype":"gage","title":"soil moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":220,"wires":[]},{"id":"2acadb2c.d79aa4","type":"http in","z":"1435848a.365d1b","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":140,"y":360,"wires":[["706a31a6.f331f"]]},{"id":"bbf60b0f.98dfa8","type":"http response","z":"1435848a.365d1b","name":"","statusCode":"","headers":{},"x":670,"y":360,"wires":[]},{"id":"706a31a6.f331f","type":"function","z":"1435848a.365d1b","name":"","func":"msg.payload={\n    \"Temperatue\": global.get('t'),\n    \"Humidity\": global.get('h'),\n    \"soil moisture\": global.get('m')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":360,"wires":[["bbf60b0f.98dfa8"]]},{"id":"9a463f1a.35bee","type":"function","z":"1435848a.365d1b","name":"device id","func":"msg.payload=msg.payload.d.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":260,"wires":[["d715468e.488dc8"]]},{"id":"d715468e.488dc8","type":"ui_text","z":"1435848a.365d1b","group":"18d012c.35454ed","order":2,"width":4,"height":1,"name":"","label":"device id","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":260,"wires":[]},{"id":"a4854ebb.2206a","type":"debug","z":"1435848a.365d1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":180,"wires":[]},{"id":"55d8daf9.e16654","type":"http in","z":"1435848a.365d1b","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":380,"y":440,"wires":[["a494a03c.c6ae1","a0f310be.0aac9","a775a15e.fe9"]]},{"id":"a494a03c.c6ae1","type":"http response","z":"1435848a.365d1b","name":"","statusCode":"","headers":{},"x":670,"y":440,"wires":[]},{"id":"a0f310be.0aac9","type":"debug","z":"1435848a.365d1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":480,"wires":[]},{"id":"c10a0aac.1dc438","type":"ui_button","z":"1435848a.365d1b","name":"","group":"18d012c.35454ed","order":9,"width":4,"height":1,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"motoroff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":380,"y":580,"wires":[["a775a15e.fe9","a0f310be.0aac9"]]},{"id":"a775a15e.fe9","type":"ibmiot out","z":"1435848a.365d1b","authentication":"apiKey","apiKey":"742b7f89.5cb15","outputType":"cmd","deviceId":"123456","deviceType":"externship","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":540,"wires":[]},{"id":"faf98434.3b5a98","type":"ui_button","z":"1435848a.365d1b","name":"","group":"18d012c.35454ed","order":8,"width":4,"height":1,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"motoron\"}","payloadType":"json","topic":"topic","topicType":"msg","x":390,"y":520,"wires":[["a775a15e.fe9","a0f310be.0aac9"]]},{"id":"742b7f89.5cb15","type":"ibmiot","name":"API KEY","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"18d012c.35454ed","type":"ui_group","name":"sensor data","tab":"9d55f7aa.f864d8","order":1,"disp":true,"width":"30","collapse":false},{"id":"9d55f7aa.f864d8","type":"ui_tab","name":"Agriculture Automation","icon":"dashboard","disabled":false,"hidden":false}]